In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager

In [10]:
# pip install pymongo

Collecting pymongo
  Downloading pymongo-3.11.2-cp38-cp38-macosx_10_9_x86_64.whl (380 kB)
     |████████████████████████████████| 380 kB 4.4 MB/s eta 0:00:01
Installing collected packages: pymongo
Successfully installed pymongo-3.11.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280

[WDM] - Get LATEST driver version for 87.0.4280
[WDM] - Trying to download new driver from http://chromedriver.storage.googleapis.com/87.0.4280.88/chromedriver_mac64.zip
[WDM] - Driver has been saved in cache [/Users/sophieknight/.wdm/drivers/chromedriver/mac64/87.0.4280.88]

In [11]:
import requests
import datetime
import pymongo
import json

In [12]:
url = 'https://mars.nasa.gov/news/'
response = requests.get(url)
print(response.status_code)

200

In [14]:
# browser.find_by_css('.load-more__button').click()

In [37]:
html = response.content

#soupify the returned html
soup = BeautifulSoup(html, "lxml")

#extract the table/rows we want to loop through
newsTitle = soup.find("div", class_="content_title").text.strip()
print(newsTitle)
newsPara = soup.find("div", class_="article_teaser_body").text.strip()
print(newsPara)
#?????? why isn't this working

NASA to Broadcast Mars 2020 Perseverance Launch, Prelaunch Activities

AttributeError: 'NoneType' object has no attribute 'text'

In [48]:
#is this assigning url string? src="/spaceimages/images/mediumsize/PIA19141_ip.jpg"
# featured_image_url = soup.find("img", class_= "fancybox-image")
# #or, altho this doesn't include the https 
featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA19141_ip.jpg'

In [7]:
import pandas as pd

In [26]:
html = response.content
chowder = BeautifulSoup(html, "lxml")
data = chowder.find_all("article", {"class":"article-item"})

In [ ]:
# scraped_data = []

# for article in data:
#     header = article.find("h1", class_="article-item__headline").text.strip()
#     subheader = article.find("h2", class_="article-item__subheader").text.strip()
#     dude = article.find("span", class_="article-item__contributor").text.strip()
#     date_pub = article.find("span", class_="article-item__date")["data-date"]
    
#     clean = {
#         "header": header,
#         "subheader": subheader,
#         "writer": dude,
#         "published_date": date_pub,
#         "scraped_date": datetime.datetime.now()
#     }
    
#     scraped_data.append(clean)

In [ ]:
# #init  lists
# teams = []
# ranks = []
# names = []
# ages = []
# etas = []

# for row in data:
#     #grab the text from each cell (identified by class)
#     team = row.find("td", class_= "rankings__table__cell--team").text.strip()
#     rank = row.find("td", class_= "rankings__table__cell--rank").text
#     name = row.find("td", class_= "rankings__table__cell--player").text.strip()
#     age = row.find("td", class_= "rankings__table__cell--currentAge").text
#     eta = row.find("td", class_= "rankings__table__cell--eta").text

#     #append to lists
#     teams.append(team)
#     ranks.append(rank)
#     names.append(name)
#     ages.append(age)
#     etas.append(eta)

# #append to dataframe
# df = pd.DataFrame()
# df["Team"] = teams
# df["Rank"] = ranks
# df["Name"] = names
# df["Age"] = ages
# df["ETAs"] = etas

# #clean columns
# df["Age"] = pd.to_numeric(df["Age"])
# df["ETAs"] = pd.to_numeric(df["ETAs"])

In [42]:
url = 'https://space-facts.com/mars/'
response = requests.get(url)
print(response.status_code)

200

In [43]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [44]:
df = tables[0]
df.head()

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [45]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [46]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [47]:
df.to_html('table.html')

In [ ]:
for row in data: 
    

hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg"},
    {"title": "Cerberus Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg"},
    {"title": "Schiaparelli Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg"},
    {"title": "Syrtis Major Hemisphere", "img_url": "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg"},
]